<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Capacidad</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do |venue|%>
      <tr>
        <th scope="row"><%= venue.id %></th>
        <td><%= venue.name %></td>
        <td><%= venue.address %></td>
        <td><%= venue.capacity %></td>
        <td><%= link_to 'Ver', venue_path(venue) %></td>
      </tr>
    <%end%>   
  </tbody>
</table>

<%= link_to "Nuevo", new_venue_path, class: "btn btn-primary" %>
