<h1> LA MEJOR PAGINA DE CONCIERTOS </h1>

<div class="row">
  <% @events.each do |event|  %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= image_tag("concierto.jpeg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"> <%= event.name%> </h5>
          <p class="card-text"> Fecha: <%= event.date %> Categoria: <%= event.category.name %></p>
          <%= link_to 'Ver', venue_event_path(event.venue, event), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<a href="#" id="prueba_ajax">Prueba AJAX</a>
<div id="resultado"></div>

<script>
document.getElementById("prueba_ajax").addEventListener("click", function(event) {
  event.preventDefault(); // Evita que se actualice la página al hacer clic en el enlace

  fetch("/venues/mejor_lugar", {
      headers: {
        "X-Requested-With": "XMLHttpRequest"
      }
    })
    .then(response => response.text()) // Parsea la respuesta como JSON
    .then(data => {
      document.getElementById("resultado").innerHTML = data;
      // Aquí puedes manipular los datos recibidos y actualizar el contenido en la página
    });
});
</script>