<h1> LA MEJOR PAGINA DE CONCIERTOS </h1>

<div class="row">
  <% @events.each do |event|  %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= image_tag("concierto.jpeg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"> <%= event.name%> </h5>
          <p class="card-text"> Fecha: <%= event.date %> Categoria: <%= event.category.name %></p>
          <%= link_to 'Ver', venue_event_path(event.venue, event), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<i class="bi bi-trash3-fill"></i>


